ion-content {
  --padding-start: 6%;
  --padding-end: 6%;
}
.pet_img {
  margin-left: 14%;
  img {
    width: 80%;
  }
}
.input-group {
  border: 0.6px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
