<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedule Feed Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    expand="block"
    shape="round"
    color="dark"
    (click)="toggleDateTimePicker()"
    >Pick Date & Time</ion-button
  >

  <ion-datetime
    *ngIf="showPicker"
    [(ngModel)]="selectedDate"
    display-format="DD/MM/YYYY HH:mm"
    picker-format="DD/MM/YYYY HH:mm"
    locale="en-IN"
    hourCycle="h24"
    [value]="selectedDate"
  ></ion-datetime>

  <ion-list>
    <ion-item>
      <ion-label>
        Scheduled Date and Time:<br />
        {{ selectedDate }}
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="presentAlertForSchedulingFeed()"
            expand="block"
            shape="round"
            color="success"
            >Schedule</ion-button
          ></ion-col
        >
        <ion-col>
          <ion-button
            (click)="presentAlertForSchedulingFeed()"
            expand="block"
            shape="round"
            color="success"
            >Un-Schedule</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
