<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Images </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="images">
    <h1>Latest clicked image will be shown here...</h1>
    <div class="loader" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
      <p>It only takes 30seconds... </p>
      <p>Please wait...</p>
    </div>
    <div *ngIf="!isLoading && !image_notFound && imageUrl">
      <img [src]="imageUrl" alt="Image" />
    </div>
    <div *ngIf="image_notFound">Image can't be captured...try again after some time </div>
    <ion-button expand="block" (click)="fetchImageUrl()" [disabled]="isLoading">
      {{ isLoading ? 'Loading...' : 'Click img' }}
    </ion-button>
  </div>

</ion-content>
