<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pet feeder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="feed_counts">
      <ion-col> <p>Feed counts:{{feedCount}}</p></ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-button
            expand="block"
            shape="round"
            color="danger"
            size="small"
            slot="end"
            class="reset_btn"
            (click)="presentAlertForResetFeedCounts()"
            >Reset
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    expand="block"
    class="circular-button"
    color="dark"
    shape="round"
    (click)="toggleServo()"
    [disabled]="disableButton"
    >{{ servoState === 'on' ? 'Feeding your pet...🤗' : 'Feed you pet'
    }}</ion-button
  >
</ion-content>
