
ion-avatar {
  width: 60px;
  height: 60px;
}
.food_level-indicator {
  ion-text {
    margin-right: 10px;
  }
  fa-icon {
    margin: 0 3px;
  }
}
ion-grid {
  .more_details-text {
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    align-items: center;
  }
}

.feed_btn-parent {
  text-align: center;
  margin-top: 50px;
  .feed_btn {
    --color: #9747ff;
    font-size: small;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --border-radius: 50%;
    fa-icon {
      font-size: 68px;
      color: #9747ff;
    }
  }
}

.refill_btn {
  fa-icon {
    font-size: 16px;
    font-weight: 700;
  }
}
.selected_images {
  fa-icon {
    margin-right: 3px;
    font-size: 16px;
  }
}

ion-toast {
  --color: #9747ff;
  --background: white;
}
