<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pet feeder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="selected_images">
    <ion-avatar slot="start">
      <img alt="bruno_img" [src]="selectedImage" />
    </ion-avatar>
    <ion-label>Bruno</ion-label>
    <ion-button (click)="imagePkr()" size="small" slot="end" fill="empty"
      ><fa-icon icon="image" style="color: #9747ff"
    /></ion-button>
  </ion-item>

  <ion-item class="food_level-indicator" lines="none">
    <ion-text>Food Level:</ion-text>
    <!-- <fa-icon icon="bowl-food" style="color: #833a3a" />
    <fa-icon icon="bowl-food" style="color: #833a3a" />
    <fa-icon icon="bowl-food" style="color: #833a3a" />
    <fa-icon icon="bowl-food" style="color: #833a3a" />
    <fa-icon icon="bowl-food" style="color: #833a3a" /> -->
    {{foodLevelValue}}
    <ion-button
      class="refill_btn"
      fill="empty"
      (click)="presentAlertForResetFeedCounts()"
      size="small"
      slot="end"
      ><fa-icon icon="rotate-right" style="color: #23dc48"></fa-icon
    ></ion-button>
  </ion-item>
  <ion-item>
    <ion-label
      ><ion-text
        >LastFeed: <strong>{{lastFeedDateTime}}</strong>
      </ion-text></ion-label
    >
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>More Details</ion-label>
      </ion-item>
      <ion-item ion-padding slot="content" lines="none">
        <ion-grid>
          <ion-row ion-padding>
            <ion-col><ion-text>Todays Feeds</ion-text></ion-col>
            <ion-col><ion-text>TotalFeeds:</ion-text></ion-col>
          </ion-row>
          <ion-row ion-padding>
            <ion-col
              ><ion-text class="more_details-text"
                >{{currentFeedCount}}</ion-text
              ></ion-col
            >
            <ion-col
              ><ion-text class="more_details-text"
                >{{totalFeedCount}}</ion-text
              ></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

  <div class="feed_btn-parent">
    <ion-button
      class="feed_btn"
      id="open-toast"
      size="large"
      fill="none"
      (click)="toggleServo()"
      [disabled]="disableButton"
    >
      <fa-icon icon="paw" style="color: #9747ff" />
    </ion-button>
    <!-- <ion-label>Username:{{userName}}</ion-label> -->
  </div>

  <ion-toast
    trigger="open-toast"
    message="Feeding your pet"
    [duration]="5000"
  ></ion-toast>


</ion-content>
