ion-header{
  ion-title{
    font-size: medium;
  }
}

ion-text{
  font-size: small;
}

ion-avatar{
  width: 60px;
  height: 60px;
}
.food_level-indicator{
  ion-text{
    margin-right: 10px;
  }
  fa-icon{
    margin:0 3px;
  }
}
ion-grid{
  .more_details-text{
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    align-items: center;
  }
}

.feed_btn{
   margin:10px 35%;
   margin-top: 50px;
  --border-color:#9747FF;
  --color:#9747FF;
  font-size: small;
  --padding-top:50px;
  --padding-bottom:50px;
  --border-radius:50%;
  fa-icon {
    font-size: 60px;
    color: #9747FF;
  }
}
.refill_btn{
  fa-icon {
    font-size: 16px;
    font-weight: 700;
  }
}
.selected_images{
  fa-icon{
    margin-right: 3px;
    font-size: 16px;
  }
}


ion-toast{
  --color:#9747FF;
  --background	:white;
}







