<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pet feeder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    expand="block"
    class="circular-button"
    (click)="toggleServo()"
    [disabled]="disableButton"
    >{{ servoState === 'on' ? 'Feeding your pet...🤗' : 'Feed you pet' }}</ion-button
  >
  <div>
    <h1>Feed counts:{{feedCount}}</h1>
  </div>
  <ion-button (click)="resetFeedCount()">Reset feedCount</ion-button>
</ion-content>

