ion-header{
  ion-title{
    font-size: medium;
  }
}

ion-text{
  font-size: small;
}

ion-avatar{
  width: 60px;
  height: 60px;
}
.food_level-indicator{
  ion-text{
    margin-right: 10px;
  }
  fa-icon{
    margin:0 3px;
  }
}
ion-grid{
  .more_details-text{
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    align-items: center;
  }
}

.feed_btn{
   margin:10px 35%;
   margin-top: 50px;
  --border-color:#9747FF;
  --color:#9747FF;
  font-size: small;
  ion-icon {
    font-size: 60px;
    color: #9747FF;
  }
}














.circular-button {
  border-radius: 50%;
}
.feed_counts {
  display: flex;
  gap: 4;
  justify-content: space-between;
  align-items: center;
.reset_btn{
  --padding-start:6px;
  --padding-end:6px;
  --padding-bottom:6px,
  --padding-top:6px
}}



.progress_con{
  margin-left: 10px;
}
.progress-bar {
  position: relative;
}

.verticalLine {
  width: 50%;
  height: 200px;
  background: var(--ion-color-success);
  border-radius: 3%;
  margin-left: 209px;
}

.marker {
  position: absolute;
  width:53px;
  height: 10px;
  background: var(--ion-color-dark) !important;
  left: 50%;
  border-radius: 3px;
  transform: translate(130%);
}

