<ion-header>
  <ion-toolbar>
    <ion-title> Captured Images </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="fetchImages()"
          shape="round"
          color="dark"
          [disabled]="isLoading"
          ><ion-icon name="image-outline"></ion-icon> Get Images
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="logout_btn"
          color="danger"
          size="small"
          (click)="logout()"
          >Logout</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-spinner class="loader" *ngIf="isLoading"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row *ngFor="let image of images">
      <ion-card>
        <img [src]="image.url" alt="Image" />
        <ion-card-content>
          <div class="date-time">
            <div>
              <ion-icon name="calendar"></ion-icon>
              {{ image.createdAt | date: 'yyyy-MM-dd' }}
            </div>
            <div>
              <ion-icon name="time"></ion-icon>
              {{ image.createdAt | date: 'HH:mm:ss' }}
            </div>
          </div>
          <div>
            <ion-button id="open-toast" slot="end" size="small" outline="none" fill="clear" (click)="deleteThisImg(image.imageId)" color="danger"
              ><ion-icon name="trash-outline"></ion-icon></ion-button
            >
            <ion-toast
              trigger="open-toast"
              message="image deleted"
              [duration]="5000"
            ></ion-toast>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
