.loader{
  margin: auto;
  margin-top: 40px;
}
ion-icon{
  margin-right: 4px;
  margin-left: 4px;
}


.logout_btn{
  margin-top: 9px;

}

ion-card-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
