.loader{
  margin: auto;
  margin-top: 40px;
}
ion-icon{
  margin-right: 4px;
  margin-left: 4px;
}

.date-time{
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;

}
.logout_btn{
  margin-top: 9px;
  margin-left: 16px;
}
