ion-content {
  --padding-start: 10%;
  --padding-end: 10%;
}
img {
  width: 90%;
}
.input-group {
  // --color: #9747ff;
  border: 0.6px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
ion-button .login-btn {
  --background: #9747ff;
}
