ion-content {
  --padding-top: 20%;
  --padding-start: 10%;
  --padding-end: 10%;
}
div{
  margin-top: 0px;
  img {
    width: 90%;
  }
}

h1 {
  font-weight: bold;
}

div ion-button {
  margin-top: 16px;
  --border-color: black;
  --color: black;
  font-size: large;
}
